*
!docs
!functions
!.gitignore
!build.sh
!compose.yml
!config.json
!consultas.http
!dict_modbus.py
!Dockerfile
!emulator.py
!emulator_times.py
!makeconfigs.py
!pv_mn_bess_builder.py
!pv_mn_builder.py
!requirements.txt
!README.md
!vrt_state.py


